.pill {
  display:inline-block;
  align-items:center;
  padding:4px 9px;
  gap:6px;
  border-radius:999px;
  font-size:12px;
  cursor:pointer;
  background:transparent !important;
  border:1px solid transparent;
  color:inherit;
}

.card .pill[data-status] {
  color: currentColor !important;
}

.pill[data-status="primary"] {
  border: 1px solid #38bdf8 !important;
  color:#38bdf8 !important;
}

.pill[data-status="evaluating"] {
  border: 1px solid #fce411 !important;
  color:#fce411 !important;
}

.pill[data-status="available"],
.pill:not([data-status]) {
  border: 1px solid #888888 !important;
  color:#888888 !important;
}

.pill[data-status="direct"] {
  border: 1px solid #11fc87 !important;
  color:#11fc87 !important;
}

.pill[data-status="zapier"] {
  border: 1px solid #fca211 !important;
  color:#fca211 !important;
}

.pill[data-status="both"],
.pill:not([data-status]) {
  border: 1px solid #c11cdb !important;
  color:#c11cdb !important;
}

.pill-key {
  display: flex;
  gap: 18px;
  font-size: 11px;
  opacity: .7;
  align-items: center;
  margin-bottom: 6px;
}

.pill-key-item {
  display: flex;
  align-items: center;
  gap: 4px;
  white-space: nowrap;
}

.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pill-key {
  display: flex;
  align-items: center;
  gap: 8px;
}

.pill-key-help {
  font-size: 11px;
  opacity: .6;
  margin-left: 10px;
  user-select: none;
  pointer-events: none;
}

.pill.fn {
  cursor: pointer;
}

